@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
  height: fit-content;
  width: auto;
  height: 100%;
  overflow-x: hidden;
}
.platypi {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.platypi-bold {
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url("src/assets/images/Wallpaper2.jpg");
  background-size: contain;
}
.transition-slow {
  transition-duration: 0.4s;
}
.custom-background {
  background-image: url("/src/assets/images/Navbar-image3.jpg");
  background-size: cover;
}
.video-height {
  height: 40vw;
}
